<a href="https://colab.research.google.com/github/czanalytics/czanalytics/blob/main/db_lite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lite Data Bases

We introduce light databases TinyDB and sqlite3.

## **TinyDB**

In [ ]:
!pip install tinydb

In [ ]:
# https://tinydb.readthedocs.io/en/latest/
# https://tinydb.readthedocs.io/en/latest/getting-started.html#basic-usage
# https://github.com/msiemens/tinydb
#
from tinydb import TinyDB, Query

db = TinyDB('db.json')
db.insert({'name': 'John', 'age': 22})
#db.insert({'int': 1, 'char': 'a'})

User = Query()
# Search for a field value
db.search(User.name == 'John')

In [ ]:
# Combine two queries with logical and
db.search((User.name == 'John') & (User.age <= 30))

In [ ]:
db.insert({'type': 'apple', 'count': 7})
db.insert({'type': 'peach', 'count': 3})
db.all()

In [ ]:
for item in db:
  print(item)

In [ ]:
Fruit = Query()
db.search(Fruit.type == 'peach')

In [ ]:
db.search(Fruit.count > 5)

In [ ]:
db.update({'count': 10}, Fruit.type == 'apple')
db.all()

In [ ]:
db.remove(Fruit.count < 5)
db.all()

In [ ]:
db.truncate()
db.all()

## sqlite3

In [ ]:
# https://docs.python.org/3/library/sqlite3.html
# sqlite3 with PyScript, https://pythonprogramming.altervista.org/pyscript-using-sqlite-with-pyscript/
import sqlite3

con = sqlite3.connect("ex.db")

cur = con.cursor()

try:
  cur.execute("DROP TABLE movie")
except:
  pass

#cur.execute("CREATE TABLE IF NOT EXISTS  movie(title, year, score)")
cur.execute("CREATE TABLE movie(title, year, score)")

res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

con.commit()

res = cur.execute("SELECT score FROM movie")
res.fetchall()

data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.

for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

con.close()

new_con = sqlite3.connect("tutorial.db")
new_cur = new_con.cursor()
res = new_cur.execute("SELECT title, year FROM movie ORDER BY score DESC")
title, year = res.fetchone()

print(f'The highest scoring Monty Python movie is {title!r}, released in {year}')